.tabs {
  display: flex;
  margin: 0 auto;
  padding-top: 1.5em;
  width: 90%;
  align-items: center;
  justify-content: center;
}

.tabs div {
  margin: 0 1em;
}

.task-group-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.active {
  border-bottom: steelblue 2px solid;
}

