.task-header {
  min-height: 3rem;
  padding-top: 1em;
  margin-bottom: .75rem;
}

.task-header h1{
  margin-left: 1.5rem;
}

.task-tab-header {
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
  margin: 0 .625em;
  padding-bottom: 0.75em;
  align-items: center;
  justify-content: flex-start;
}

.active {
  border-bottom: 2px solid #F1F1F1;
}



