.login-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
  border: none;
  color: var(--font-color);
}

legend {
  text-align: center;
}

.signup-header {
  display: flex;
  justify-content: space-evenly;
  flex: none;
  flex-grow: 0;
  margin: 0.5em 0;
}

.signup-header .overline {
  color: #73bec5;
}

.login-inputs {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.input-field {
  display: flex;
  flex-direction: column;
  margin: 0.625em 0 1.5em 0;
  position: relative;
  min-height: 3rem;
}

.input-label {
  position: absolute;
  top: 0;
}


.login-btn-group {
  margin-top: 1rem;
  align-self: center;
}
