.nav-side-bar ul {
    list-style: none;
}

.nav-side-bar li {
    margin-bottom: 1rem;
}

.untoggled-button {
    align-self: flex-end;
    width: 1em;
}

.toggle-button {
    align-self: center;
    width: 2em;

}

.toggled {
    display: none;
}

.untoggled-button:hover, .toggle-button:hover {
    cursor: pointer;
}

.active-link {
    color: white;
}